<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzUF4hqiwsEQ_ZZBPi9TerJPKMcXkoMRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1011816095376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Azer.FireChatX</string>
	<key>PROJECT_ID</key>
	<string>firechatx-d24e1</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatx-d24e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011816095376:ios:118d18069a3f5ed2ed4215</string>
</dict>
</plist>